/* ---- HTML elements --- */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

body {
	background-color: #fff;
	font-family: "Lora", "Times New Roman", verdana, serif;
	font-size: 16px;
	color: #404040;
	line-height: 1.5;
}

a {
	color: #404040;
	-webkit-transition: color 400ms ease-in-out 0s;
	-moz-transition: color 400ms ease-in-out 0s;
	-ms-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

a:hover {
	color: #0ad;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, form, table {
	margin-bottom: 22px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: 800;
	line-height: 1.1;
}

ul {
	list-style-type: square;
	margin-left: 20px;
}

ol {
	margin-left: 26px;
}

table {
	width: 100%;
}

table thead tr th,
table tbody tr td {
	padding: 10px 15px;
}

table thead tr th {
	border-bottom: 1px solid #ddd;
	text-align: left;
}

table tbody tr:nth-child(even) td {
	background: #f4f4f4;
}

img {
	max-width: 100%;
	height: auto;
}

/* --- General tags and classes --- */

.banner {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #f4f4f4;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 60px;
	height: 200px;
}

@media all and (min-width: 768px) {
	.banner {
		height: auto;
	}
}

.banner [class*="col-"] {
	text-align: center;
}

@media all and (max-width: 768px) {
	.banner [class^="col-"] {
		width: 50%;
		float: left;
		margin-bottom: 20px;
	}
}

.cookiebar-wrapper {
	border-top-color: #0ad;
}

.cookiebar {
	max-width: 1280px;
}

img.small {
	max-width: 400px;
	height: auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

img.pull-left {
	margin-right: 24px;
}

img.pull-right {
	margin-left: 24px;
}

ul.spacious {
	list-style: square inside;
}

ul.spacious li {
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

hr.small {
	margin: 20px auto;
	width: 120px;
	border: 0;
	border-bottom: 2px solid #0ad;
}

@media all and (min-width: 768px) {
	.hidden-desktop {
		display: none;
		visibility: hidden;
	}
}

/* --- Layout --- */

#site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	-webkit-transform: translate3d(0, 0);
	-moz-transform: translate3d(0, 0);
	-ms-transform: translate3d(0, 0);
	-o-transform: translate3d(0, 0);
	transform: translate3d(0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: background-color 600ms ease-in-out 0s, border-bottom-color 600ms ease-in-out 0s;
	-moz-transition: background-color 600ms ease-in-out 0s, border-bottom-color 600ms ease-in-out 0s;
	-ms-transition: background-color 600ms ease-in-out 0s, border-bottom-color 600ms ease-in-out 0s;
	-o-transition: background-color 600ms ease-in-out 0s, border-bottom-color 600ms ease-in-out 0s;
	transition: background-color 600ms ease-in-out 0s, border-bottom-color 600ms ease-in-out 0s;
}

.page-home #site-header {
	border-bottom-color: transparent;
}

@media all and (min-width: 768px) {
	#site-header {
		border-bottom-color: transparent;
	}
}

#site-header.detached {
	border-bottom-color: #ddd;
	background-color: #fff;
}

#site-name a {
	color: #404040;
	text-decoration: none;
	font-size: 24px;
	line-height: 26px;
}

.page-home #site-name a {
	color: #fff;
}

#site-name a:hover {
	color: rgba(255, 255, 255, .8);
}

.detached #site-name a {
	color: #404040;
}

.detached #site-name a:hover {
	color: #0ad;
}

#menu-trigger {
	display: none;
}

#menu-trigger + label {
	background: rgba(255, 255, 255, .25);
	color: #404040;
	cursor: pointer;
	text-align: center;
	height: 40px;
	width: 40px;
	line-height: 40px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 50;
}

@media all and (min-width: 768px) {
	#menu-trigger + label {
		display: none;
		visibility: hidden;
	}
}

#site-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #404040;
	z-index: 30;
	padding: 10px 25px 25px 25px;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 400ms ease-in-out 0s;
	-moz-transition: -moz-transform 400ms ease-in-out 0s;
	transition: transform 400ms ease-in-out 0s;
}

@media all and (min-width: 768px) {
	#site-nav {
		position: relative;
		width: initial;
		height: initial;
		float: right;
		padding: 0;
		background: transparent;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

#menu-trigger:checked ~ #site-nav {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

#site-nav h2 {
	color: #404040;
	text-align: center;
}

#site-nav ul {
	margin: 0;
}

@media all and (min-width: 768px) {
	#site-nav ul {
		list-style: none;
	}
}

#site-nav ul li {
	border-bottom: 1px solid #ddd;
	list-style-position: inside;
}

@media all and (min-width: 768px) {
	#site-nav ul li {
		display: inline-block;
		list-style: none;
		border-bottom: 0;
	}
}

#site-nav ul li a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}

@media all and (min-width: 768px) {
	#site-nav ul li a {
		color: #fff;
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 800;
		letter-spacing: 1px;
	}
}

@media all and (min-width: 991px) {
	#site-nav ul li a {
		padding: 20px;
	}
}

#site-nav ul li.active a,
#site-nav ul li a:hover {
	text-decoration: underline;
}

@media all and (min-width: 768px) {
	.detached #site-nav ul li a {
		color: #404040;
	}

	.detached #site-nav ul li a:hover {
		color: #0ad;
	}
}

#site-leader {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #404040;
	text-align: center;
}

@media all and (min-width: 768px) {
	#site-leader {
		margin-bottom: 50px;
	}
}


.page-home #site-leader {
	background-image: url('../images/filter.svg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.page-home #site-leader {
		padding-top: 140px;
		padding-bottom: 140px;
	}
}

@media all and (min-width: 992px) and (max-width: 1200px) {
	.page-home #site-leader {
		padding-top: 160px;
		padding-bottom: 160px;
	}
}

@media all and (min-width: 1200px) {
	.page-home #site-leader {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

#site-leader h2 {
	font-size: 28px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
	#site-leader h2 {
		font-size: 38px;
	}
}

@media all and (min-width: 992px) and (max-width: 1200px) {
	#site-leader h2 {
		font-size: 48px;
	}
}

@media all and (min-width: 1200px) {
	#site-leader h2 {
		font-size: 58px;
	}
}

.page-home #site-leader h2 {
	color: #fff;
}

#site-content {
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#site-content article h3 {
	font-size: 22px;
}

#site-content article[class$="blog-teaser"] {
	height: 242px;
	margin-bottom: 40px;
	border: 1px solid #888;
	background-repeat: no-repeat;
	background-position: -50px -150px;
}

#site-content article.blog-teaser {
	background-image: url('../images/filter.svg');
}

#site-content article[class$="blog-teaser"] h3 {
	margin-bottom: 0;
	display: block;
}

#site-content article[class$="blog-teaser"] h3 a {
	display: block;
	height: 240px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .925);
	font-size: 34px;
	text-decoration: none;
	-webkit-transition: background 400ms ease-in-out 0s;
	-moz-transition: background 400ms ease-in-out 0s;
	-ms-transition: background 400ms ease-in-out 0s;
	-o-transition: background 400ms ease-in-out 0s;
	transition: background 400ms ease-in-out 0s;
	background-color: rgba(50, 50, 50, .25);
	color: #fff;
}

#site-content article[class$="blog-teaser"] h3 a:hover {
	background-color: rgba(50, 50, 50, .5);
}

#site-content aside {
	border: 1px solid #eee;
	padding: 25px;
}

#site-content aside > div {
	border-bottom: 3px solid #eee;
	margin-bottom: 25px;
}

#site-content aside > div:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

#site-content aside > div.techgraph {
	display: none;
}

#site-footer {
	padding: 50px 0 65px 0;
	border-top: 1px solid #eee;
}

#site-footer ul {
	margin-bottom: 10px;
	list-style: none;
	text-align: center;
}

#site-footer ul li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

#site-footer p {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
	color: #777;
}
