{% include '_header.twig' %}

		<main id="site-content">
			<div class="grid">
				<article>
					{{ record.body }}
				</article>
			</div> <!-- /.grid -->
		</main> <!-- /#site-content -->

{% include '_footer.twig' %}
