<main id="site-content">
	<div class="grid">
		<ul class="spacious">
			{% for record in records %}
			<li><a href="{{ record.link }}" title="Link naar {{ record.title }}">{{ record.title }}</a></li>
			{% endfor %}
		</ul>

		{{ pager() }}
	</div> <!-- /.grid -->
</main> <!-- /#site-content -->
